#logo {
	/*height:52px;*/
	/*max-width: 220px;
	/*height: auto;
	margin:0;*/
	width: 70%;
	max-width: 300px;
	margin: 5px 0;
}

#wholebar{
  background-color: transparent;
	border-bottom-style: solid;
	border-bottom-color: transparent;
	border-bottom-width: 1px;
}

.nav {
transition-duration: 0.5s;
}

.navbar-right {
	border-bottom-width:0px;
	margin-top:15px;
  font-size: 18px;
}

.navbar-toggle {
	margin-top: -1px;
	margin-bottom: 12px;
}

.collapse{
  border-bottom-color: black;
	border: 10px;
}

.jumbotron {
  background-color: white;
	text-align: center;
}

.jumbotron h1 {
	font-size: 50px;
	padding: 70px 0 40px 0;
}

.jumbotron p{
	font-size: 20px;
}

#pitch {
	padding-top: 87px;
	vertical-align: middle;
}

@media (max-width: 992px) {
	#pitch {
		padding-top:50px;
	}
}
.instructions {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 145px;
	max-width: 600px;
	font-size: 20px;
	padding-left: 50px;
	font-weight: 200;
}

#action {
	text-align: center;
	margin-bottom: 40px;
}

#diary {
	margin-top: 30px;
}

#action h2 {
	margin: -30px 0 40px 0;
}

button {
	background-color: #1FFEFF;
	border:1px;
}

#submit {
	overflow: hidden
}

iframe {
	overflow:hidden;
}

@media (max-width: 1200px) {
	.pitch {
		padding-top:80px;
		}
	}

@media (max-width: 990px) {
	.jumbotron p {
		font-size: 15px;
		}
	}

	li {
		padding: 8px;
	}

	@media (max-width: 1180px) {
		.instructions {
			font-size: 15px;
		}
	}

@media (max-width:768px) {
	#logo {
		margin: -7px 0 -32px 0;
}
}

#skillsdropdown {
	display:none;
}

@media (max-width: 768px) {
	#skillsdropdown {
		display:initial;
	}
}


.carousel {
      margin-bottom: 60px;
    }

/*
.carousel .container {
      position: relative;
      z-index: 9;
    }

.carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

.carousel .item {
      height: 500px;
    }
.carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

.carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
.carousel-caption h1,
.carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
.carousel-caption .btn {
      margin-top: 10px;
    }
.carousel-caption img {
      margin-bottom: 0px;
    }

@media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }
    }

@media (max-width: 767px) {
      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;

      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }
    }
*/

#pie {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 150px;
        margin-bottom: 150px;
      }
